.postModeloContainer {
    display: flex;
    flex-direction: column;  /* Alinha os itens verticalmente */
    align-items: center;     /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    min-height: 100vh;       /* Garante que o container ocupe a altura total da tela */
    text-align: center;      /* Centraliza o texto dentro do container */
    padding: 2rem;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 3rem;
    margin-bottom: 2rem; /* Espaço entre o título e o conteúdo */
}

.postConteudoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    width: 100%;         /* Faz com que o container ocupe toda a largura */
    max-width: 800px;    /* Limita a largura máxima para manter o conteúdo legível */
    padding: 1rem;
}

/* Responsividade para telas pequenas */
@media (max-width: 744px) {
    .titulo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .postConteudoContainer {
        padding: 1rem;
        max-width: 100%;  /* Ajusta a largura máxima para telas menores */
    }
}
